.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $colorBackgraundFooter;
}

.footer__container {
    @media screen and (min-width: $mobile) {
        display: flex;
        flex-direction: column;
        // align-items: baseline;
    }

    @media screen and (min-width: $tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

.footer__box {
    @media screen and (min-width: $mobile) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        text-align: center;
    }

    @media screen and (min-width: $tablet) {
        grid-area: 1 / 1 / 2 / 2;
    }

    @media screen and (min-width: $desktop) {
        
    }
}

.footer__form {
    @media screen and (min-width: $mobile) {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    @media screen and (min-width: $tablet) {
        grid-area: 2 / 1 / 3 / 3;
    }
}

.footer__logo-label {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 28px;
}

.footer__item {
    margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
}

.footer__address {
    color: $colorWhitePrimary;
    transition: color $duration $timingFunction;
    
        &:hover,
        &:focus {
            color: $colorAccentPrimary;
        }
}

.footer__contact {
    margin-bottom: 9px;
    color: $colorFooterContact;
    transition: color $duration $timingFunction;
    
        &:hover,
        &:focus {
            color: $colorAccentPrimary;
        }
}

.footer__social {
    @media screen and (min-width: $mobile) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }
    
    @media screen and (min-width: $tablet) {
        grid-area: 1 / 2 / 2 / 3;
    }
}

.footer__cta {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: $colorWhitePrimary;
}

.submit-form__field {
    width: 450px;
    margin-bottom: 20px;
    padding: 15px 16px;
    color: $colorWhitePrimary;
    background-color: inherit;
    border: 1px solid $colorFooterInput;
    box-shadow: $shadowButton;
    border-radius: 4px;
}

.submit-form__button {
    @extend %button;
    display: inline-flex;
    align-items: center;
    padding-left: 28px;
    padding-right: 28px;
    fill: $colorWhitePrimary;
    transition: background-color $duration $timingFunction;
    
        &:hover,
        &:focus {
            background-color: $colorAccentSecondary;
        }
}

.submit-form__icon {
    margin-left: 10px;
}